/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.log_out{
        position: absolute;
        left: 2.64%;
        right: 78.49%;
        top: 38.87%;
        bottom: 59.03%;

        position: absolute;
        left: 4.8%;
        right: 4.8%;
        top: 20%;
        bottom: 20%;
        
        /* Desktop / Link Small */
        
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        /* or 175% */
        
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.75px;
        
        /* Grayscale / Background */
        
        color: #F7F7FC
    }