// Place all the styles related to the FavoriteBooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.favorite-card {
   
    background: #86aaec;
}
    .fb-show-common-box {
        background-color: #e2e7f3;
    }
    .star-color {
      color:rgb(255, 235, 52)
    }
    .fav-book-title{
      
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 80px;
        
        color: #321fdd;
     }
    
    .fav-book-author {
       
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 80px;
        color: #d44a8b;
     }
    .destroy { 
    
        
       
        
    }

    