.card {
    

    background: #d0e2f3;
}
    .header{
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 80px;
        color: #1F54DD;
    }
    .book-image{
        
      }
    .book-title{
       
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 80px;
        
        color: #1F54DD;
        
      
     }
    .book-summary {
     
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 80px;
        color: #dd1f78;
       
     }
    .book-author {
    
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 80px;
        color: #1d36c5;
       
     }
    .favorite { 
            
    
     }
    
   