h1 =@book.title



=form_with model: Comment.new, method: :post do |form| 
  =form.hidden_field :favorite_book_id , :value => @book.id
  =form.hidden_field :user_id ,          :value => @current_user.id
  =form.label :'комментарий' 
  =form.rich_text_area :content 
  =form.submit :'отправить комментарий'

h2 
- @book.comments.each do |comment|
  =render partial: "comment", locals: {comment: comment}